numpy
opencv-python
paho-mqtt<2
pytz
requests
shapely
apscheduler
schedule
matplotlib
pandas
twilio
cryptography

and i need to store the 
ocr batch results for particular id 
needs to be stored in the respective json as well